<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>

        <rewrite>
            <rules>
                <rule name="ReverseProxyInboundRule1" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://localhost:2345/{R:1}" />
                </rule>
            </rules>
        </rewrite>
        <httpProtocol>
		 <customHeaders>
		 <add name="Cache-Control" value="no-cache" />
		 <add name="Pragma" value="no-cache" />
		 <add name="Expires" value="-1" />
		 </customHeaders>
		 </httpProtocol>

    </system.webServer>
</configuration>